.dual-summary {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	user-select: none;
	outline: none;
}

.uploadActions {
	display: flex;
	justify-content: end;
	margin-top: 20px;
}

.uploadActions button {
	padding: 2px 10px;
	color: white;
	border-radius: 8px;
	background-color: rgb(95 95 255);
	border: 2px solid rgb(59 59 249);
}

.fake-input {
	border: 0;
	border-bottom: 2px solid rgb(143 143 143);
	background: none;
	font-size: 1em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	outline: none;
	width: 100%;
	padding: 5px 0;
	cursor: pointer;
	color: #777;
	height: 1.4em;
	line-height: 1.4em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 20px;
}

.hidden-file-input {
	display: none;
}

.image-scroll-container {
	overflow: auto;
	width: 100%;
	height: calc(100% - 70px);
}

.stat-sheet-image {
	height: auto;
}

.zoom-slider-input {
	width: 100%;
}

.wrestler-stats-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	table-layout: fixed;
}

.wrestler-stats-table th,
.wrestler-stats-table td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

.wrestler-stats-table th {
	background-color: #f4f4f4;
}

.wrestler-stats-table input {
	width: 100%;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	font-size: .8em;
	font-family: inherit;
	text-align: center;
}

.wrestler-stats-table th:nth-child(1),
.wrestler-stats-table td:nth-child(1) {
	width: 35%;
}

.wrestler-stats-table th:nth-child(2),
.wrestler-stats-table td:nth-child(2) {
	width: 15%;
}

.wrestler-stats-table th:nth-child(3),
.wrestler-stats-table td:nth-child(3) {
	width: 15%;
}

.wrestler-stats-table th:nth-child(n+4),
.wrestler-stats-table td:nth-child(n+4) {
	width: 8.75%;
}

.form-actions {
	display: flex;
	justify-content: end;
	margin-top: 20px;
}

.form-actions button {
	padding: 2px 10px;
	color: white;
	border-radius: 8px;
	background-color: rgb(95 95 255);
	border: 2px solid rgb(59 59 249);
}

.wrestler-stats-table input[type=number]::-webkit-inner-spin-button, 
.wrestler-stats-table input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

.wrestler-stats-table input[type=number] {
	-moz-appearance: textfield;
}