nav {
	height: 100vh;
	position: fixed;
	z-index: 10;
	left: 0;
	width: 25vw;
	min-width: 300px;
	transform: translateX(-350px);
	transition: transform 250ms ease-in-out;
	background-color: rgb(255 255 255);
	box-shadow: rgba(0, 0, 0, 0.15) 2px 0px 8px 0px;
}
nav.active {
	transform: translateX(0);
}

nav .actions {
	display: flex;
	justify-content: flex-end;
	height: 30px;
}

nav svg {
	margin-right: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
	padding: 10px 20px;
	cursor: pointer;
	user-select: none;
	outline: none;
	display: flex;
	align-items: end;
	font-size: 1.3em;
	font-weight: bold;
}

nav li.sub {
	font-weight: normal;
	font-size: 1em;
	margin-left: 40px;
	padding: 5px 20px;
	display: none;
}
nav li.sub.active {
	display: block;
}

@media (min-width: 1024px) {
	nav {
		transform: none;
		transition: none;
		position: initial;
	}
	nav.active {
		transform: none;
	}
}
