nav {
	height: 100%;
	position: fixed;
	z-index: 20;
	left: 0;
	width: 20rem;
	min-width: 300px;
	transform: translateX(-350px);
	transition: transform 250ms ease-in-out;
	background-color: rgb(255 255 255);
	box-shadow: rgba(0, 0, 0, 0.15) 2px 0px 8px 0px;
}
nav.active {
	transform: translateX(0);
}

nav .actions {
	display: flex;
	justify-content: flex-end;
	height: 30px;
}

.closeMenu {
	position: fixed;
	margin: 10px;
}

.fixedScroll {
	position: fixed;
	width: inherit;
}

nav h2 {
	margin-left: 20px;
}

nav svg {
	margin-right: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
	padding: 10px 20px;
	display: flex;
	align-items: end;
	font-size: 1.3em;
	font-weight: bold;
}

nav li.sub {
	font-weight: normal;
	font-size: 1em;
	margin-left: 40px;
	padding: 5px 20px;
	display: none;
}
nav li.sub.active {
	display: block;
}

@media (min-width: 1024px) {
	nav {
		transform: none;
		transition: none;
		position: initial;
		min-width: 250px;
	}
	nav.active {
		transform: none;
	}

	.closeMenu {
		display: none;
	}
}
