.eventHeader {
	color: #666;
	font-size: 1.3em;
	margin: auto;
}

.wrestler-item {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 4px;
}

.wrestler-header {
	background-color: #f5f5f5;
	padding: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.matches-container {
	padding: 10px;
	display: flex;
}

.division-header {
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.wrestler-stats {
	font-size: 0.8em;
	color: #666;
}

.win {
	color: green;
}

.loss {
	color: red;
}
