.schedule .calendarHeader {
	display: grid;
	align-items: center;
	grid-template-columns: auto 70px auto;
	margin: auto;
}

.schedule .calendarHeader button {
	background: none;
	border: none;
}

.schedule .monthName {
	text-align: center;
}

.schedule .calendar {
	display: grid;
	grid-template-columns: repeat(7, minmax(10px, 1fr));
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px auto;
}

.schedule .calendar li {
	padding: 1px 8px;
	margin: 4px 0px;
	box-sizing: border-box;
}

.schedule .calendar .single {
	background-color: rgb(242 192 41);
	border-radius: 7px;
}

.schedule .calendar .start {
	background-color: rgb(242 192 41);
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.schedule .calendar .middle {
	background-color: rgb(255 222 124);
}

.schedule .calendar .end {
	background-color: rgb(242 192 41);
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
