.compareHeader {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-column-gap: 1rem;
}

.compareHeader h3:first-child {
	justify-content: right;
}

.compareHeader h3:last-child {
	width: max-content;
}

.compareHeader select {
	font-size: 1.05em;
	font-weight: bold;
	border: 0;
	color: rgb(32, 32, 32);
}

.compareRow {
	display: grid;
	grid-template-columns: 25px 1fr 30px 33px 30px 1fr 24px;
	font-size: .8em;
}

.compareRow:nth-child(2n) {
	background: rgb(227 227 227);
}

.compareRow>div {
	padding: 5px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.compareRow .win {
	background-color: rgb(206 237 206);
}

.compareRow .lose {
	background-color: rgb(233 207 207);
}

.compareRow>svg {
	width: 20px;
	height: 20px;
}

.compareWeight {
	font-weight: bold;
	background-color: rgb(227 227 227);
}

.compareRow select {
	text-align: center;
}

.compareRow input[type="text"], .compareRow select {
	border: 0;
	appearance: none;
}

div.compareDropDown {
	display: none;
}

div.compareDropDown.active {
	display: block;
	position: relative;
	top: 10px;
	left: 5px;
}

div.compareDropDown.active>div {
	position: absolute;
	max-height: 125px;
	background-color: rgb(255 255 255);
	overflow-y: auto;
	width: max-content;
	border-left: 1px solid rgb(185 185 185);
	border-right: 1px solid rgb(185 185 185);
	border-bottom: 1px solid rgb(185 185 185);
	box-shadow: 0px 2px 5px 0px rgb(215 215 215);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.compareDropDownItem {
	font-size: .95rem;
	padding: 4px 5px;
	border-bottom: 1px solid rgb(229 229 229);
	cursor: pointer;
	outline: none;
	user-select: none;
}

.lineChart {
	width: 100%;
	height: max-content;
}

line.axisLine {
	stroke: rgb(223 223 223);
}

.chartLabel {
	font-size: .8em;
	fill: rgb(109 109 109);
}

.teamLine {
	fill: none;
	stroke: rgb(59 130 255);
	stroke-width: 3px;
}

.teamPoint {
	fill: rgb(59 130 255);
}

.opponentLine {
	fill: none;
	stroke: rgb(255 80 0);
	stroke-width: 2px;
}

.opponentPoint {
	fill: rgb(255 80 0);
}

.chartLine {
	fill: none;
	stroke: rgb(223 223 223);
	stroke-width: 2px;
	stroke-dasharray: 5px;
}
