.teamWrestler {
	display: grid;
	grid-column-gap: .5rem;
	grid-template-columns: 1fr max-content;
}

.compareHeader {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-column-gap: 1rem;
}

.compareHeader h3:first-child {
	justify-content: right;
}

.compareHeader h3:last-child {
	width: max-content;
}

.compareHeader select {
	font-size: 1.05em;
	font-weight: bold;
	border: 0;
	color: rgb(32, 32, 32);
}

.compareRow {
	display: grid;
	grid-template-columns: 1fr 30px 33px 30px 1fr;
	font-size: clamp(.75rem, 2vw, 1rem);
}

.compareRow:nth-child(2n) {
	background: rgb(227 227 227);
}

.compareRow>div {
	padding: 5px 0px;
	display: flex;
	align-items: center;
}

.compareRow>div:first-child {
	justify-content: flex-end;
}

.compareRow .win {
	background-color: rgb(206 237 206);
}

.compareRow .lose {
	background-color: rgb(233 207 207);
}

.compareRow>svg {
	width: 20px;
	height: 20px;
}

.compareWeight {
	font-weight: bold;
	background-color: rgb(227 227 227);
	justify-content: center;
}

.teamSelect {
	text-align: right;
}

.scoreSelect {
	text-align: center;
}

.compareRow input[type="text"], .compareRow select {
	border: 0;
	appearance: none;
}

div.compareDropDown {
	display: none;
}

div.compareDropDown.active {
	display: block;
	position: relative;
	top: 10px;
	left: 5px;
}

div.compareDropDown.active>div {
	position: absolute;
	max-height: 125px;
	background-color: rgb(255 255 255);
	overflow-y: auto;
	width: max-content;
	border-left: 1px solid rgb(185 185 185);
	border-right: 1px solid rgb(185 185 185);
	border-bottom: 1px solid rgb(185 185 185);
	box-shadow: 0px 2px 5px 0px rgb(215 215 215);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.compareDropDownItem {
	font-size: .95rem;
	padding: 4px 5px;
	border-bottom: 1px solid rgb(229 229 229);
	cursor: pointer;
	outline: none;
	user-select: none;
}

.lineChart {
	width: 100%;
	height: max-content;
	margin: 1rem 0px;
}

line.axisLine {
	stroke: rgb(223 223 223);
}

.chartLabel {
	font-size: .8em;
	fill: rgb(109 109 109);
}

.teamLine {
	fill: none;
	stroke: rgb(59 130 255);
	stroke-width: 3px;
}

.teamPoint {
	fill: rgb(59 130 255);
}

.opponentLine {
	fill: none;
	stroke: rgb(255 80 0);
	stroke-width: 2px;
}

.opponentPoint {
	fill: rgb(255 80 0);
}

.chartLine {
	fill: none;
	stroke: rgb(223 223 223);
	stroke-width: 2px;
	stroke-dasharray: 5px;
}

.chartBackground {
	fill: rgb(245 245 245);
}

.chartBackground.alternate {
	fill: rgb(237 237 237);
}

.pill.dragging {
	position: absolute;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgb(0 0 0 / 18%) 0px 1px 6px 1px;
}

.dragPosition {
	display: none;
}

.dragPosition.selected {
	display: block;
	background-color: rgb(45 68 215);
	width: 3px;
}

.dragTable .pill {
	font-size: 12px;
}

.dragBar {
	cursor: pointer;
	outline: none;
	user-select: none;
}

.sectionTable .dragBar {
	padding: 0px 10px;
}

.weightContainer {
	border-bottom: 2px solid rgb(161 161 161);
	display: flex;
	flex-direction: column;
}

.weightContainer:last-child {
	border-bottom: none;
}

.weightHeader {
	display: flex;
	align-items: center;
	padding: 15px 0px;
}
.weightHeader>:nth-child(1) {
	flex: 1;
}

.weightHeader .subTitle {
	display: flex;
	align-items: center;
}

.weightContainer table td {
	padding: 12px 0px;
	border-bottom: solid 1px rgb(237 237 237);
}

.overflowInset {
	width: 100%;
	height: 40vh;
	border: 1px solid rgb(145 145 145);
	border-radius: 4px;
	box-shadow: inset rgba(50, 50, 93, 0.25) 0px 0px 14px -3px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	overflow: auto;
	background-color: rgb(249 249 249);
}

.selectOpponentContainer {
	display: flex;
	margin-bottom: 20px;
}

.weightSidebar>div {
	padding: 10px 10px;
	border-bottom: 1px solid rgb(221 221 221);
	text-align: center;
	border-right: 1px solid rgb(221 221 221);
	background: rgb(255 255 255);
	cursor: pointer;
	user-select: none;
	outline: none;
}
.weightSidebar>div.selected {
	background-color: rgb(223 170 3);
	color: white;
}

.weightContent {
	flex: 1;
}

.selectWrestlerItem {
	display: flex;
	align-items: center;
	font-size: 0.8em;
	padding: 10px 0px;
}

.selectWrestlerItem.alternate {
	background-color: rgb(247 237 203);
}

.allWeightDivision {
	text-align: center;
	padding: 6px 0px;
	font-weight: bold;
	font-size: 1.2em;
}

.selectWrestlerDivision {
	margin: 0px 10px 0px 10px;
	background-color: rgb(107 135 159);
	padding: 5px 9px;
	border-radius: 3px;
	font-weight: bold;
	color: white;
	width: 18px;
	text-align: center;
}

.selectedWrestlerContainer {
	flex: 1;
	margin: 0px 17px 0px 0px;
}

@media print {
	.menuIconToggle {
		display: none;
	}

	nav {
		display: none;
	}

	.bottomNav {
		display: none;
	}

	.panel.filter {
		display: none;
	}

	header h1.subTitle {
		display: none;
	}

	.container {
		max-width: 100vw;
		grid-template-columns: 1fr 1fr;
	}

	.panel {
		width: 45vw;
	}

	.panel.expandable {
		grid-column: 1 / -1;
		width: max-content;
	}
}