@import url("https://fonts.googleapis.com/css?family=Roboto|Russo+One");

html, body, #root {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: rgb(32, 32, 32);
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	font-family: 'Russo One';
	font-size: 1.8rem;
	margin: 0px;
	color: rgb(21 86 168);
}

h2 {
	font-family: 'Russo One';
	font-weight: 400;
	text-align: center;
	margin: 0px;
	color: rgb(21 86 168);
}

p {
	font-size: .8rem;
}

.row {
	display: flex;
	align-items: start;
}

.column {
	display: flex;
	flex-direction: column;
	width: 50%;
	box-sizing: border-box;
}

.button {
	cursor: pointer;
	user-select: none;
	outline: none;
}

.box {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.box.blue {
	background-color: rgb(8 61 111);
	color:rgb(217 217 217);
	border-color: rgb(217 217 217);
}

.box.blue h2 {
	color: rgb(251 205 44);
}

.box.blue .actions .button {
	background-color: rgb(223 170 3);
	color: rgb(24 24 24);
}

.box.yellow {
	background: rgb(223 170 3);
	color: rgb(24 24 24);
}

.box.yellow .actions .button {
	background-color: rgb(8 61 111);
	color:rgb(255 255 255);
}

.box .actions .button {
	padding: 5px 0px;
	width: 80px;
	text-align: center;
	border-radius: 6px;
	margin: 5px;
	font-size: .8rem;
}

.box img {
	object-fit: cover;
	width: 100%;
}

.logo {
	align-items: center;
	padding: 20px 10px;
}

.logo img {
	width: 80%;
}

.topcontent p {
	border-top: 1px solid rgb(8 61 111);
	padding: 9px 5px;
	border-bottom: 1px solid rgb(8 61 111);
	color: rgb(96 96 96);
}

.instagram {
	background-color: rgb(46 30 6);
	padding: 0;
	flex: 1;
	justify-content: center;
}

.actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.rosterContainer {
	margin-top: 10px;
	max-height: 300px;
	overflow-y: auto;
}

.weightContainer {
	margin: 5px 0px;
}

.weight {
	border-bottom: 2px solid rgb(62 62 62);
	font-family: 'Russo One';
	color: rgb(104 101 101);
}

.wrestlers {
	text-align: right;
	margin-top: 3px;
	font-size: .9rem;
	color: rgb(104 101 101);
}

.calendarHeader {
	display: flex;
	align-items: center;
	margin: 5px 0px;
	justify-content: center;
}

.monthName {
	text-align: center;
	width: 100px;
}

.calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: .8rem;
}

.calendar li {
	padding: 1px 4px;
	margin: 2px 4px;
	box-sizing: border-box;
}

.dayEvent {
	background-color: rgb(8 61 111);
	border-radius: 7px;
	color: rgb(243 243 243);
}

.eventContainer {
	background-color: rgb(8 61 111);
}

.eventList {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 300px;
}

.separator {
	background: rgb(217 217 217);
	height: 2px;
	width: 50%;
	margin: 10px auto;
}

.noevent {
	margin: 20px auto;
	color: rgb(255 255 255);
}

.eventItem {
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
	border-left: 3px solid rgb(8 61 111);
	padding-left: 10px;
}

.eventContent {
	flex: 1;
}

.eventName {
	color: rgb(255 255 255);
}

.eventSubItem {
	font-size: .8rem;
	color: rgb(104 104 104);
}
